// file Name: generic/_generic.typography.scss
// Description: Project typography
// Used by: main.scss
// Dependencies:
// ------------------------------------------------------------

html {
  font-size: $default-font-size;
  word-spacing: $default-word-spacing; // Fixes grid spacing bug
}

body,
td,
th,
p {
  color: $light-blk;
  font-family: $font-stack;
  line-height: $default-line-height;
  word-spacing: $default-word-spacing;
}

body {
  background-color: $preset-wht-1;
  font-weight: $font-weight-normal;
  margin: 0;
  position: relative;
  word-spacing: $default-word-spacing;
}

// Paragraph
p {
  margin-bottom: 1.3em;
  word-spacing: $default-word-spacing;
}

// Anchor
a {
  color: $orange;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $lght-blue;
  text-decoration: none;
}

// Hgroup - Ratio defined from 16px base
// https://type-scale.com/
// --
h1,
h2,
h3,
h4 {
  font-weight: inherit;
  line-height: 1.2;
  margin: 1.414em 0 .5em;
  word-spacing: $default-word-spacing;
}

h1 {
  font-size: 3.998em;
  margin-top: 0;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small,
.font-small {
  font-size: .707em;
}

// Lists
ul,
li {
  color: $light-blk;
  font-family: $font-stack;
  font-size: $default-font-size;
}

// Select
select {
  background-color: $preset-wht-1;
  border: 1px solid $preset-wht-1;
  font-family: $font-stack;
  font-size: $default-font-size;
}
