// file Name: settings/_settings.typography-variables.scss
// Description: Variables for typography
// Used by: main.scss
// Dependencies:
// ------------------------------------------------------------

// Font Stack
// -- just use system fonts - it's easier/faster
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

// Font Sizes
$default-font-size: 1em; // 1em == 16px

// Font Weight
$font-weight-2: 200;
$font-weight-3: 300;
$font-weight-normal: 400;
$font-weight-6: 600;

// Line Height
$default-line-height: 1.45;
$line-height-1: 1;

// Letter Spacing
$letter-spacing-zero: 0;
$letter-spacing-2: 2px;

// Word Spacing
$default-word-spacing: normal;
