// file Name: settings/_settings.colors-variables.scss
// Description: Project Colors
// Used by: main.scss
// Dependencies:
// ------------------------------------------------------------


// Black
$light-blk: #333;
$black: #000;

// Blue
$lght-blue: #3397db;
$blue-2: #0275d8;
$blue-3: #01447e;

// Gray
$gray: #aaa;

// Orange
$orange: #ffa500;
$orange-2: #f18200;

// White
$preset-wht-1: #fdfdfd;
$preset-wht-2: #f3f3f3;
