// file Name: components/_components.restaurants-details.scss
// Description: Restaurant Details Styles
// Used by: main.scss
// Dependencies:
// ------------------------------------------------------------

.inside header {
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.inside .map-container {
  background: $blue-2 none repeat scroll 0 0;
  height: 87%;
  min-width: 50%;
  position: fixed;
  right: 0;
  top: 80px;
}

.inside .map {
  background-color: $gray;
  height: 100%;
  width: 100%;
}

.inside .footer {
  min-width: 100%;
  z-index: 1000;
}

.restaurant-name {
  color: $orange-2;
  font-weight: $font-weight-2;
  letter-spacing: $letter-spacing-zero;
  margin: 15px 0 30px;
  text-transform: uppercase;
}

.restaurant-img {
  max-width: 90%;
}

.restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
}

.restaurant-cuisine {
  background-color: $light-blk;
  color: $gray;
  font-size: 12pt;
  font-weight: $font-weight-3;
  letter-spacing: 10px;
  margin: 0 0 20px;
  max-width: 90%;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
}

.restaurant-container,
.reviews-container {
  max-width: 50%;
  padding: 140px 40px 30px;
}

.reviews-container {
  padding: 30px 40px 80px;
}

.reviews-container h2 {
  color: $orange-2;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 2px;
}

.reviews-list {
  margin: 0;
  padding: 0;
}

.reviews-list li {
  background-color: $preset-wht-2;
  border: 2px solid $preset-wht-2;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  max-width: 85%;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
}

.reviews-list li p {
  margin: 0 0 10px;
}

.reviews-list li p:nth-child(-n+3) {
  font-weight: $font-weight-6;
}

.reviews-list li p:nth-child(-n+1) {
  letter-spacing: $letter-spacing-2;
  text-transform: uppercase;
}

.restaurant-hours td {
  color: $gray;
}

// Responsive Styles
@include respond(md) {
  .inside .footer {
    min-width: 50%;
  }

  .inside .map-container {
    height: 100%;
  }

  .restaurant-container,
  .reviews-container {
    // max-width: 100%;
  }

}
