// file Name: components/_components.filter-options.scss
// Description: Restaurant Filtering Styles
// Used by: main.scss
// Dependencies:
// ------------------------------------------------------------

.filter-options {
  align-items: center;
  background-color: $lght-blue;
  min-height: 50px;
  min-width: 100%;
}

.filter-options h2 {
  color: $preset-wht-1;
  font-size: $default-font-size;
  font-weight: $font-weight-normal;
  line-height: $line-height-1;
  margin: 0 20px;
  padding: 10px 0 0;
}

.filter-options select {
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}
