// file Name: components/_components.map.scss
// Description: Navbar navigation styles
// Used by: main.scss
// Dependencies:
// ------------------------------------------------------------

.map {
  background-color: $gray;
  min-height: 400px;
  width: 100%;
}
