// file Name: components/_components.restaurants-details.scss
// Description: Restaurant Details Styles
// Used by: main.scss
// Dependencies:
// ------------------------------------------------------------

// Header
.inside header {
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: $rest-header-z-index;
}

// Map
.inside .map-container {
  height: 40%;
  margin-top: 215px;
}

.inside .map {
  background-color: $gray;
  height: 100%;
}

// Footer
.inside .footer {
  max-width: 100%;
  z-index: $rest-footer-z-index;
}

// Restaurant Detail Block
.restaurant-name {
  color: $orange-2;
  font-weight: $font-weight-2;
  letter-spacing: $letter-spacing-zero;
  margin: 15px 0 30px;
  text-align: center;
}

.restaurant-img {
  max-width: 90%;
}

.restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
}

.restaurant-cuisine {
  background-color: $light-blk;
  color: $gray;
  font-size: 12pt;
  font-weight: $font-weight-3;
  letter-spacing: 10px;
  margin: 0 0 20px;
  max-width: 90%;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
}


// Responsive Styles
@include respond(md) {
  .inside .footer {
    max-width: 50%;
  }

  .inside .map-container {
    background: $blue-2 none repeat scroll 0 0;
    height: 87%;
    margin-top: 0;
    position: fixed;
    right: 0;
    top: 80px;
  }

  .restaurant-container,
  .reviews-container {
    padding: 140px 40px 30px;
  }

}
