// file Name: generic/_components.restaurants-list.scss
// Description: Restaurant Listing Styles
// Used by: main.scss
// Dependencies:
// ------------------------------------------------------------

.restaurants-list {
  background-color: $preset-wht-2;
  list-style: outside none none;
  margin: 0;
  padding: 30px 10px 60px;
}

.restaurants-list li {
  background-color: $preset-wht-1;
  box-shadow: $box-shadow-1;
  margin: 0 0 15px;
  min-height: 380px;
  text-align: left;
}

.restaurants-list .restaurant-text {
  padding: 0 30px 25px;
}

.restaurants-list:hover li {
  box-shadow: $box-shadow-1-hover;
}

.restaurants-list .restaurant-img {
  background-color: $gray;
  display: block;
  margin: 0;
  min-height: 248px;
  min-width: 100%;
  padding: 0;
}

// TODO : refactor typograhy to be separate from styles
.restaurants-list li h1 {
  color: $orange-2;
  font-size: 18px;
  font-weight: $font-weight-2;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.restaurants-list p {
  font-size: $default-font-size;
  margin: 0;
}

.restaurants-list li a {
  background-color: $orange;
  border-bottom: 3px solid $preset-wht-1;
  color: $preset-wht-1;
  display: inline-block;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

// Responsive
// --
@include respond(md) {
  .restaurants-list li {
    margin: 0 5px 15px;
    min-height: 380px;
  }
}
